 /* ========== BASE ========== */

 html { box-sizing: border-box; }
 *, *:before, *:after { box-sizing: inherit; }

 html {
  font-family: 'IBM Plex Sans', 'Open Sans', Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 1.2;
 }

 img {
   height: auto;
   max-width: 100%;
 }

 /* ========== TYPOGRAPHY ========== */

 .big_header {
   font-family: Rubik, Geneva Tahoma, sans-serif;
   font-weight: 500;
   font-size: 44px;
   line-height: 1.45;
 }

 .medium_header {
  font-family: Rubik, Geneva Tahoma, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
 }

 .section_descript {
   font-weight: 500;
   font-size: 20px;
   line-height: 2;
 }

 .item_descript {
   line-height: 2;
 }


 /* ========== BUTTONS ========== */

 .btn {
   display: inline-block;
   min-width: 200px;
   padding: 10px 15px;
   border-radius: 10px;
   text-decoration: none;
   color: #ffffff;
   fill: #ffffff;
   background: linear-gradient(90deg, #0082AE 0%, #00C7CC 100%);
 }

 .btn:hover,
 .btn:focus {
   outline: 0;
   background: linear-gradient(180deg, #0082AE 0%, #296E92 100%);
 }

 .btn:active {
   background: #00C7CC;
 }

 .btn.--cta {
   border-radius: 24px;
   background: linear-gradient(180deg, #EA1EDF 0%, #B833E6 100%);
 }

 .btn.--cta:hover,
 .btn.--cta:focus {
   background: linear-gradient(90deg, #0082AE 0%, #00C7CC 100%);
 }

 .btn.--cta:active {
   background: #00C7CC;
 }

 .btn-label {
   position: relative;
   display: block;
   padding-left: 42px;
   margin: auto;

   font-size: 14px;
   line-height: 18px;
   letter-spacing: 0.08em;
 }

 .btn-store {
   display: block;
   margin-top: -7px;
   line-height: 35px;
   font-weight: 500;
 }

 .btn-download-apple .btn-store {
   font-size: 25px;
 }

 .btn-download-play .btn-store {
   font-size: 22px;
 }

 .btn-label::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   margin-top: -2px;

   background-repeat: no-repeat;
   background-size: contain;
 }

 .btn-download-apple .btn-label::before {
   width: 29px;
   height: 36px;
   background-image: url("../img/apple-icon.svg");
 }

 .btn-download-play .btn-label::before {
   width: 30px;
   height: 33px;
   background-image: url("../img/play-icon.svg");
 }

 .app_btns {
   margin: 0;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
 }

 .social {
   display: flex;
   margin-top: 0;
   margin-bottom: 30px;
   padding: 0;
   list-style: none;
 }

 .social__item {
   margin-right: 15px;
 }

 .social__item:last-child {
   margin-right: 0;
 }

 .social__btn {
   display: block;
   width: 38px;
   height: 38px;
   font-size: 0;
   background-color: #296E92;
   background-repeat: no-repeat;
   background-position: center center;
   border-radius: 38px;
 }

 .social__btn:hover,
 .social__btn:focus {
   background-color: #00C7CC;
 }

 .social__btn:active {
   background-color: #EA1EDF;
 }

 .social__btn.--fb { background-image: url("../img/icon/Facebook.svg") }
 .social__btn.--vk { background-image: url("../img/icon/VK.svg") }
 .social__btn.--ok { background-image: url("../img/icon/OK.svg") }
 .social__btn.--ig { background-image: url("../img/icon/Instagram.svg") }
 .social__btn.--tw { background-image: url("../img/icon/Twitter.svg") }

 /* ========== HEADER ========== */

 .navbar {
   padding-left: 18px;
   padding-right: 18px;
   max-width: 1440px;
   margin: 0 auto;
   
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .navbar__logo {
   display: block;
   height: 20.5px;
 }

 .main_nav {
   display: flex;
   padding-left: 0;
   padding-top: 2.28em;
   padding-bottom: 2.28em;
   margin: 0;
   list-style: none;

   font-family: Rubik, Geneva Tahoma, sans-serif;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.5px; 
 }

 .main_nav__item {
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 2.14em;
 }

 .main_nav__item:first-child {
   margin-left: 0;
 }

 .main_nav__link {
   color: #101C22;
   text-decoration: none;
 }

 .main_nav__link:hover,
 .main_nav__link:focus {
  color: #00C7CC;
 }

 .main_nav__link:active {
  color: #EA1EDF;
 }


 /* ========== HERO ========== */

 .hero {
   padding-top: 96px;
   padding-bottom: 76px;
   background-image: url("../img/bg/hero.png");
   background-repeat: no-repeat;
   background-position: 100% center;
 }

 .hero__content {
   max-width: 416px;
 }

 .hero__header {
   margin-top: 0;
   margin-right: 0;
   margin-bottom: 20px;
   color: #101C22;
 }

 .hero__descript {
   margin-top: 0;
   margin-right: 0;
   margin-bottom: 27px;
   color: #4B545C;
 }


 /* ========== ABOUT ========== */

 .about {
   display: flex;
   padding-top: 160px;
   padding-bottom: 160px;
   margin-left: 16px;
   margin-right: 16px;
   justify-content: center;
   background: url('../img/bg/about.png') center center no-repeat;
   background-size: contain;
 }

 .about__img {
   margin-top: 75px;
   margin-bottom: 20px;
   margin-right: 34px;
 }

 .about__text {
   padding-top: 93px;
   padding-bottom: 88px;
   padding-left: 94px;
   padding-right: 99px;
   background: url('../img/bg/about__text.png') center center no-repeat;
   background-size: contain;
   color: #FFFFFF;
 }

 .about__header {
   margin-top: 18px;
   margin-bottom: 18px;
 }

 .about__descript {
   max-width: 352px;
   margin: 0;
 }


 /* ========== FEATURES ========== */

 .features_list {
   padding: 0;
   margin: 0;
   list-style: none;
 }

 .features__header {
   text-align: center;
   color: #101C22; 
   margin-top: 33px;
   margin-bottom: 45px;
 }

 .feature {
   margin: 0 auto 110px;
   padding: 0;
   position: relative;
   z-index: 1;
 }

 .feature__title {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;

   position: relative;
   background-position: center 20%;
   background-repeat: no-repeat;
   background-image: url("../img/bg/title-1.png");
}

 .feature:nth-child(2) .feature__title {
   background-image: url("../img/bg/title-2.png");
 }

 .feature:nth-child(3) .feature__title {
   background-image: url("../img/bg/title-3.png");
 }

 .feature__header {
  display: inline-block;
  margin: 0 auto 10px;

  text-align: center;
  color: #101C22; 
 }

 .feature__descript {
  display: inline-block;
  margin: 0 auto 45px;

  text-align: center;
  color: #4B545C;
 }

 .feature__slider {
   position: relative;
 }

 .sliding_list {
   display: flex;
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
   z-index: 1;
   padding: 0;
   margin: 0 auto;
   list-style: none;
 }

 .feature__slider::after {
   content: "";
   display: block;
   width: 18px;
   height: 342px;
   position: absolute; 
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   z-index: 10;
   background-image: url("../img/bg/shadow.png");
   background-position: center right;
   background-repeat: no-repeat;
   background-color: transparent;
 }

 .slider_btn {
   display: block;
   width: 96px;
   top: 0;
   bottom: 0;
   
   position: absolute;
   z-index: 2;

   cursor: pointer;
   background-position: center center;
   background-repeat: no-repeat;
   background-color: transparent;
   border-color: transparent;
 }

 .slider_btn.--prev {
   background-image: url("../img/prev.svg");
   left: 0;
 }

 .slider_btn.--next {
   background-image: url("../img/next.svg");
   right: 0;
 }

 .slide {
   display: block;
   height: auto;
   box-sizing: content-box;
   flex-shrink: 0;
   padding-right: 32px;

   text-align: center;
 }

 .slide:first-child {
  margin-left: 96px;
 }

 .slide__link {
  text-decoration: none;
  color: #4B545C;
 }

 .slide__link:hover,
 .slide__link:focus {
   outline: none;
   color: #00C7CC;
 }

 .slide__link:active {
   color: #EA1EDF;
 }

 .slide__caption {
  font-size: 12px;
  line-height: 1.33;
 }


 /* ========== ADVANTAGES ========== */

 .advantages {
   padding-top: 96px;
   padding-bottom: 140px;

   background-color: #F5FDFF;
 }

 .advantages__header {
   text-align: center;
   color: #101C22; 
   margin-top: 33px;
   margin-bottom: 45px;
 }

 .advantages__list {
   padding: 0;
   margin: 0;
   list-style: none;
   max-width: 928px;
   margin-left: auto;
   margin-right: auto;
 }

 .advantages__item {
   margin: 0;
   display: flex;
   align-items: center;
 }

 .advantages__illustration {
   display: block;
   min-height: 360px;
 }

 .advantages__illustration,
 .advantages__descript {
   flex-basis: 50%;
 }

 .advantages__header {
   margin-bottom: 17px;
 }

 .advantages__header,
 .advantages__body {
   max-width: 254px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
 }

 .advantages__body {
  color: #4B545C;
 }

 .advantages__item:nth-child(2) .advantages__illustration { order: 2; }
 .advantages__item:nth-child(2) .advantages__descript { order: 1; }


  /* ========== DOWNLOAD ========== */

 .download {
   padding-bottom: 420px;
   background-image: url("../img/bg/download.jpg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center 100%;
 }

 .download__header {
   margin: 90px auto 2px;
   text-align: center;
   vertical-align: top;
   color: #101C22; 
  }

 .download__subheader {
   margin: 0 auto 29px;
   text-align: center;
   vertical-align: top;
   color: #101C22;
 }

 .download__btns {
   margin: 0 auto 16px;
   max-width: 416px;
 }


/* ========== EARN ========== */

 .earn {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: #CCF4F5;
 }

 .earn__descript {
   padding-left: 640px;
   padding-top: 96px;
   padding-bottom: 120px;
   background-image: url("../img/bg/earn.png");
   background-position: left center;
   background-repeat: no-repeat;
 }

 .earn__header,
 .earn__text {
   max-width: 320px;
   margin-top: 0;
   margin-left: 32px;
   color: #296E92;
 }

 .earn__header {
   margin-bottom: 16px;
 }

 .earn__text {
   margin-bottom: 24px;
 }

 .earn__btn {
   min-width: 256px;
   margin-left: 28px;
   padding: 16px 15px;

   text-align: center;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.08em;
 }


 /* ========== FOOTER ========== */

 .footer {
   padding-top: 70px;
   background-color: #F5FDFF;
 }

 .footer__top_bar {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
 }

 .footer__section:last-child {
   margin-right: 0;
 }

 .footer__header {
   margin: 0 0 14px;
   font-family: Rubik, Geneva Tahoma, sans-serif;
   font-weight: 500;
   font-size: 18px;
   line-height: 24px;
 }

 .footer__nav {
   list-style: none;
   padding: 0;
   font-weight: 500;
   font-size: 14px;
   line-height: 24px;
   color: #4B545C;
 }

 .footer__menu_item {
   margin: 0 0 8px;
 }
 
 .footer__link {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #4B545C;
 }

 .footer__link:hover,
 .footer__link:focus {
   color: #00C7CC;
 }

 .footer__link:active {
   color: #EA1EDF;
 }
 
 .footer__app_btns {
   flex-direction: column;
 }

 .footer__app_btns .btn:first-child {
   margin-bottom: 16px;
 }

 .footer__footnotes {
   padding-top: 16px;
   padding-bottom: 16px; 
   border-top: 1px solid #F5E1F4;
 }

 .footnotes {
   display: flex;
 }

 .footnotes__list {
   display: flex;
   list-style: none;
   padding: 0;
   margin: 0;
   color: #ACB9BC;
 }

 .footnotes__item::after {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  content: "•"
}

 .footnotes__item:last-child::after {
   display: none;
 }

 .footnotes__link,
 .footnotes__copyright {
   font-weight: 500;
   font-size: 14px;
   line-height: 24px;
   text-decoration: none;
   color: #ACB9BC;
 } 

 .footnotes__link:hover,
 .footnotes__link:focus {
   color: #296E92;
 }

  .footnotes__link:active {
   color: #00C7CC;
 }

 .footnotes__copyright {
   margin: 0 0 0 auto;
   text-align: right;
 }

 /* ========== UTILITY ========== */

 .u-wrapper {
   max-width: 1120px;
   margin-left: auto;
   margin-right: auto;
 }
