 /* ========== BASE ========== */

 html { box-sizing: border-box; }
 *, *:before, *:after { box-sizing: inherit; }

 html {
  font-family: 'IBM Plex Sans', 'Open Sans', Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 1.2;
 }

 img {
   height: auto;
   max-width: 100%;
 }

 /* хак для простого дебага мобильной версии */
 section, footer { overflow: scroll; }

 /* ========== TYPOGRAPHY ========== */

 .big-header {
   font-family: Rubik, Geneva Tahoma, sans-serif;
   font-weight: 500;
   font-size: 2em;
   line-height: 1.2;
 }

 .medium-header {
  font-family: Rubik, Geneva Tahoma, sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.2;
 }

 .section-descript {
   font-weight: 500;
   font-size: 1.125em;
   line-height: 1.5;
 }

 .item-descript {
   line-height: 1.5;
 }

 @media screen and (min-width: 752px) {
    .big-header {
     font-size: 2.75em;
     line-height: 1.45;
   }
 
    .medium-header {
     font-size: 2em;
     line-height: 1.5;
   }
  
    .section-descript {
     font-size: 1.25em;
     line-height: 2;
   }

   .item-descript {
    line-height: 2;
   }
 }

 @media screen and (min-width: 1440px) {
    body {
     font-size: 1.125rem;
    }
 }

 /* ========== BUTTONS ========== */

 .app_btns {
   margin: 0 auto 0;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .btn {
   display: inline-block;
   min-width: 200px;
   padding: 10px 15px;
   border-radius: 10px;

   text-align: center;
   text-decoration: none;
   color: #ffffff;
   fill: #ffffff;
   background: linear-gradient(90deg, #0082AE 0%, #00C7CC 100%);
 }

 .btn:first-child {
  margin-bottom: 16px;
 }

 @media screen and (min-width: 448px) {
   .app_btns {
     flex-direction: row;
     align-items: flex-start;
     justify-content: space-between;
   }

   .btn:first-child {
     margin-bottom: 0;
   }
 }

 .btn:hover,
 .btn:focus {
   outline: 0;
   background: linear-gradient(180deg, #0082AE 0%, #296E92 100%);
 }

 .btn:active {
   background: #00C7CC;
 }

 .btn.--cta {
   border-radius: 24px;
   background: linear-gradient(180deg, #EA1EDF 0%, #B833E6 100%);
 }

 .btn.--cta:hover,
 .btn.--cta:focus {
   background: linear-gradient(90deg, #0082AE 0%, #00C7CC 100%);
 }

 .btn.--cta:active {
   background: #00C7CC;
 }

 .btn__label {
   position: relative;
   display: inline-block;
   padding-left: 3em;
   margin: 0 auto 0.5em;

   text-align: left;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 0.08em;
 }

 .btn__store {
   display: block;
   line-height: 21px;
   font-weight: 500;
 }

 .--apple .btn__store {
   font-size: 25px;
 }

 .--googleplay .btn__store {
   font-size: 22px;
 }

 .btn__label::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   margin-top: 2px;

   background-repeat: no-repeat;
   background-size: contain;
 }

 .--apple .btn__label::before {
   width: 29px;
   height: 36px;
   background-image: url("../img/apple-icon.svg");
 }

 .--googleplay .btn__label::before {
   width: 30px;
   height: 33px;
   background-image: url("../img/play-icon.svg");
 }

 @media screen and (min-width: 1440px) {
   .btn__label {
     font-size: 16px;
     line-height: 20px;
   }
 
   .btn__store {
     line-height: 24px;
   }
  
   .--apple .btn__store {
     font-size: 29px;
   }
  
   .--googleplay .btn__store {
     font-size: 25px;
   }
 
   .--apple .btn__label::before {
     width: 33px;
     height: 41px;
   }
 
   .--googleplay .btn__label::before {
     width: 34px;
     height: 38px;
   }
 }


 .social {
   display: flex;
   margin-top: 0;
   margin-bottom: 30px;
   padding: 0;
   list-style: none;
 }

 .social__item {
   margin-right: 15px;
 }

 .social__item:last-child {
   margin-right: 0;
 }

 .social__btn {
   display: block;
   width: 38px;
   height: 38px;
   font-size: 0;
   background-color: #296E92;
   background-repeat: no-repeat;
   background-position: center center;
   border-radius: 38px;
 }

 .social__btn:hover,
 .social__btn:focus {
   background-color: #00C7CC;
 }

 .social__btn:active {
   background-color: #EA1EDF;
 }

 .social__btn.--fb { background-image: url("../img/icon/Facebook.svg") }
 .social__btn.--vk { background-image: url("../img/icon/VK.svg") }
 .social__btn.--ok { background-image: url("../img/icon/OK.svg") }
 .social__btn.--ig { background-image: url("../img/icon/Instagram.svg") }
 .social__btn.--tw { background-image: url("../img/icon/Twitter.svg") }

 /* ========== HEADER ========== */

 .navbar__bar {
   max-width: 1440px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
  
 .navbar__toggle {
   display: none;
 }

 @media screen and (max-width: 752px) {
   .js .navbar.is-opened {
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 100;

     background: #FFFFFF;
   }

   .js .navbar__bar {
    flex-direction: row;
    align-items: center;
  }

  .js .navbar__toggle.is-active {
     display: block;
     margin-right: 1em;
   }
 
  .js .navbar__menu {
     display: none;
   }
 
  .js .navbar__menu.is-opened {
     display: block;
     position: absolute;
     top: 84px;
     bottom: 0;
     left: 0;
   }
 }


 .navbar__logo {
   display: block;
   height: 1.25em;
   margin-top: 2em;
   margin-bottom: 2em;
   margin-left: 1em;
 }

 .main_nav {
   padding: 0;
   margin: 0; 
   width: 100%;

   display: flex;
   flex-direction: column;

   list-style: none;
   background: #FFFFFF;
 }

 .main_nav__item {
   border-top: 1px solid #D3D4D8;
 }

 .main_nav__item:last-child {
   border-bottom: 1px solid #D3D4D8;
 }

 .main_nav__link {
   display: block;
   padding: 2em;

   font-family: Rubik, Geneva Tahoma, sans-serif;
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.5px; 
   text-decoration: none;
   color: #101C22;
 }

 .main_nav__link:active {
    color: #FFFFFF;
    background-color: #00C7CC;
 }


 @media screen and (min-width: 752px) {
   .navbar__bar {
     flex-direction: row;
     align-items: center;
   }

   .main_nav {
     position: static;
     display: flex;
     flex-direction: row-reverse;

   }
   .main_nav__item,
   .main_nav__item:last-child {
     margin-top: 0;
     margin-bottom: 0;
     margin-right: 2em;
     border: none;
   }

   .main_nav__item:first-child {
    margin-bottom: 0; 
    margin-right: 1em;
   }

   .main_nav__link {
     padding: 0;
     font-size: 0.875em;
   }

   .main_nav__link:hover,
   .main_nav__link:focus {
     color: #00C7CC;
   }
  
   .main_nav__link:active {
     color: #EA1EDF;
   }
 }


 /* ========== HERO ========== */

 .hero {
   padding-top: 300px;
   background-image: url("../img/bg/hero_388.png");
   background-repeat: no-repeat;
   background-position: center top;
 }

 .hero__content {
   max-width: 28em;
   padding-left: 1em;
   padding-right: 1em;
   margin: auto;
 }

  .hero__header {
   margin-top: 0;
   margin-right: 0;
   margin-bottom: 0.45em;
   text-align: center;
   color: #101C22;
 }

 .hero__descript {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.5em;
  text-align: center;
  color: #4B545C;
 }

 @media screen and (min-width: 590px) {
   .hero {
     padding-top: 450px;
     background-image: url("../img/bg/hero_590.png");
   }
 }

 @media screen and (min-width: 752px) {

   .hero {
     padding-top: 5.6em;
     padding-bottom: 4.75em;
     background-image: url("../img/bg/hero_640.png");
     background-position: 28em bottom;
   }

   .hero__content {
      margin: 0;
   }

   .hero__header {
     text-align: left;
   }

   .hero__descript {
     text-align: left;
   }

 }

 @media screen and (min-width: 1440px) {
   .hero {
     background-image: url("../img/bg/hero_720.png");
   }

 }


 /* ========== ABOUT ========== */

 .about {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   padding-top: 8em;
   background: url('../img/bg/about_590.png') top center no-repeat;
   background-size: cover;
 }

 .about__img {
   min-width: 10em;
   margin-top: 2.5em;
   margin-bottom: 2.5em;
 }

 .about__text {
   padding-top: 10em;
   padding-bottom: 9em;
   padding-left: 1em;
   padding-right: 1em;
   width: 100%;

   background: url('../img/bg/about__text_545.png') center center no-repeat;
   background-size: initial;

   color: #FFFFFF;
   text-align: center;
 }

 .about__header {
   margin-top: 0.56em;
   margin-bottom: 0.56em;
 }

 .about__descript {
   max-width: 24em; ;
   margin: 0 auto;
 }
 
 @media screen and (min-width: 448px) {
  .about__img {
    min-width: 28em;
  }
 }

 @media screen and (min-width: 590px) {
   .about {
     flex-direction: row;

     padding-top: 10em;
     padding-bottom: 10em;
     padding-left: 1em;
     padding-right: 1em;

     background: url('../img/bg/about_752.png') center center no-repeat;
     background-size: contain;
   }

   .about__img {
     min-width: 10em;
     margin-top: 1em;
     margin-bottom: 0;
     margin-left: 5em;
     margin-right: 1em;
   }

   .about__text {
     min-width: 30em;
     padding-top: 5em;
     padding-bottom: 4.8em;
     padding-left: 5.2em;
     padding-right: 5.5em;

     width: auto;

     background: url('../img/bg/about__text_545.png') center center no-repeat;
     background-size: contain;

     text-align: left;
   }

   .about__descript {
     max-width: 15.6em;
     padding: 0;
     margin: 0;
   }

 }

 @media screen and (min-width: 752px) {

   .about {
     padding-top: 5em;
     padding-bottom: 5em;
     
     background: url('../img/bg/about_1464.png') center center no-repeat;
     background-size: contain;
   }

   .about__img {
     min-width: 10em;
     margin-top: 4.7em;
     margin-bottom: 1.25em;
     margin-left: 6.2em;
     margin-right: 2.125em;
   }
  
   .about__text {
     min-width: 34.125em;
     padding-top: 5.8em;
     padding-bottom: 5.5em;
     padding-left: 5.9em;
     padding-right: 6.2em;
   } 
 }
  
 @media screen and (min-width: 1120px) {
   .about {
     padding-top: 10em;
     padding-bottom: 10em;
   }

   .about__img {
     min-width: 28em;
   }
 }



 /* ========== FEATURES ========== */

 .features_list {
   padding: 0;
   margin: 0;
   list-style: none;
 }

 .features__header {
   text-align: center;
   color: #101C22; 
   margin-top: 3em;
   margin-bottom: 0.75em;
   padding-left: 1em;
   padding-right: 1em;
 }

 
 @media screen and (min-width: 590px) {
   .features__header {
     margin-top: 0.75em;
     margin-bottom: 1em;
   }
 }


 .feature {
   margin: 0 auto 5em;
   padding: 0;
   position: relative;
   z-index: 1;
 }

 .feature__title {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;

   padding-left: 1em;
   padding-right: 1em;

   position: relative;
   background-position: center 20%;
   background-repeat: no-repeat;
   background-image: url("../img/bg/title-1.png");
}

 .feature:nth-child(2) .feature__title {
   background-image: url("../img/bg/title-2.png");
 }

 .feature:nth-child(3) .feature__title {
   background-image: url("../img/bg/title-3.png");
 }

 .feature__header {
  display: inline-block;
  margin: 0 auto 10px;

  text-align: center;
  color: #101C22; 
 }

 .feature__descript {
  display: inline-block;
  margin: 0 auto 45px;

  text-align: center;
  color: #4B545C;
 }

 .feature__slider {
   position: relative;
 }


 @media screen and (min-width: 752px) {
   .feature {
     margin-bottom: 6.875em;
   }
 } 


 .sliding_list {
   display: flex;
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
   z-index: 1;
   padding: 0;
   margin: 0 auto;
   list-style: none;
 }

 .feature__slider::after {
   content: "";
   display: block;
   width: 18px;
   height: 342px;
   position: absolute; 
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   z-index: 10;
   background-image: url("../img/bg/shadow.png");
   background-position: center right;
   background-repeat: no-repeat;
   background-color: transparent;
 }

 .slider_btn {
   display: block;
   width: 96px;
   top: 0;
   bottom: 0;
   
   position: absolute;
   z-index: 2;

   cursor: pointer;
   background-position: center center;
   background-repeat: no-repeat;
   background-color: transparent;
   border-color: transparent;
 }

 .slider_btn.--prev {
   background-image: url("../img/prev.svg");
   left: 0;
 }

 .slider_btn.--next {
   background-image: url("../img/next.svg");
   right: 0;
 }

 .slide {
   display: block;
   height: auto;
   box-sizing: content-box;
   flex-shrink: 0;
   padding-right: 32px;

   text-align: center;
 }

 .slide:first-child {
  margin-left: 96px;
 }

 .slide__link {
  text-decoration: none;
  color: #4B545C;
 }

 .slide__link:hover,
 .slide__link:focus {
   outline: none;
   color: #00C7CC;
 }

 .slide__link:active {
   color: #EA1EDF;
 }

 .slide__caption {
  font-size: 12px;
  line-height: 1.33;
 }


 /* ========== ADVANTAGES ========== */

 .advantages {
   padding-top: 96px;
   padding-bottom: 140px;

   background-color: #F5FDFF;
 }

 .advantages__header {
   text-align: center;
   color: #101C22; 
   margin-top: 33px;
   margin-bottom: 45px;
 }

 .advantages__list {
   padding: 0;
   margin: 0;
   list-style: none;
   max-width: 960px;
   padding-left: 1em;
   padding-right: 1em;
   margin-left: auto;
   margin-right: auto;
 }

 .advantages__item {
   margin: 0;
   display: flex;
   align-items: center;
 }

 .advantages__illustration {
   display: block;
   min-height: 360px;
 }

 .advantages__illustration,
 .advantages__descript {
   flex-basis: 50%;
 }

 .advantages__header {
   margin-bottom: 17px;
 }

 .advantages__header,
 .advantages__body {
   max-width: 254px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
 }

 .advantages__body {
  color: #4B545C;
 }

 .advantages__item:nth-child(2) .advantages__illustration { order: 2; }
 .advantages__item:nth-child(2) .advantages__descript { order: 1; }


  /* ========== DOWNLOAD ========== */

 .download {
   padding-left: 1em;
   padding-right: 1em;
   padding-bottom: 420px;
   background-image: url("../img/bg/download.jpg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center 100%;
 }

 .download__header {
   margin: 90px auto 2px;
   text-align: center;
   vertical-align: top;
   color: #101C22; 
  }

 .download__subheader {
   margin: 0 auto 29px;
   text-align: center;
   vertical-align: top;
   color: #101C22;
 }

 .download__btns {
   margin: 0 auto;
   padding-bottom: 1em;
   max-width: 26em;
 }


/* ========== EARN ========== */

 .earn {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: #CCF4F5;
 }

 .earn__descript { 
   max-width: 60em;
   padding-left: 40em;
   padding-top: 6em;
   padding-bottom: 7.5em;
   background-image: url("../img/bg/earn.png");
   background-position: left center;
   background-repeat: no-repeat;
 }

 .earn__header,
 .earn__text {
   margin-top: 0;
   color: #296E92;
 }

 .earn__header {
   margin-bottom: 0.66em;
 }

 .earn__text {
   margin-bottom: 1.5em;
 }

 .earn__btn {
   min-width: 256px;
   margin-left: -4px;
   padding: 16px 15px;

   text-align: center;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.08em;
 }


 /* ========== FOOTER ========== */

 .footer {
   padding-top: 70px;
   background-color: #F5FDFF;
 }

 .footer__top_bar {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
   padding-left: 1em;
   padding-right: 1em;
 }

 .footer__section:last-child {
   margin-right: 0;
 }

 .footer__header {
   margin: 0 0 14px;
   font-family: Rubik, Geneva Tahoma, sans-serif;
   font-weight: 500;
   font-size: 18px;
   line-height: 24px;
 }

 .footer__nav {
   list-style: none;
   padding: 0;
   font-weight: 500;
   font-size: 14px;
   line-height: 24px;
   color: #4B545C;
 }

 .footer__menu_item {
   margin: 0 0 8px;
 }
 
 .footer__link {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #4B545C;
 }

 .footer__link:hover,
 .footer__link:focus {
   color: #00C7CC;
 }

 .footer__link:active {
   color: #EA1EDF;
 }
 
 .footer__app_btns {
   flex-direction: column;
   align-items: stretch;
 }

 .footer__app_btns .btn:first-child {
   margin-bottom: 16px;
 }

 .footer__footnotes {
   padding: 1em;
   border-top: 1px solid #F5E1F4;
 }

 .footnotes {
   display: flex;
 }

 .footnotes__list {
   display: flex;
   list-style: none;
   padding: 0;
   margin: 0;
   color: #ACB9BC;
 }

 .footnotes__item::after {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  content: "•"
}

 .footnotes__item:last-child::after {
   display: none;
 }

 .footnotes__link,
 .footnotes__copyright {
   font-weight: 500;
   font-size: 14px;
   line-height: 24px;
   text-decoration: none;
   color: #ACB9BC;
 } 

 .footnotes__link:hover,
 .footnotes__link:focus {
   color: #296E92;
 }

  .footnotes__link:active {
   color: #00C7CC;
 }

 .footnotes__copyright {
   margin: 0 0 0 auto;
   text-align: right;
 }

 /* ========== UTILITY ========== */

 .u-wrapper {
   max-width: 72em;
   margin-left: auto;
   margin-right: auto;
 }